*{
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: garamond;  
    
}

.picas{
    width: 1250px;
    height: 500px;
    background-image: url(bar.jpg);
    margin-left: 200px;
    
}
.btn{
    position: absolute;
    top: 15px;
    left: 45px;
    height: 45px;
    width: 45px;
    text-align: center;
    background: black;
    border-radius: 3px;
    cursor: pointer;
    transition: left 0.4s ease;
}
.btn.click{
    left: 260px;
}
.btn span{
    color: white;
    font-size: 28px;
    line-height: 45px;
}
.btn.click span:before{
    content: '\f00d';
}
.container{
    width: 100%;
    height: 20vh;
    background: darkgray;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    background:white;
    width: 550px;
    height: 50px;
    display: flex;
}
form input{
    flex: 1;
    border: none;
    outline: none;
}
form button{
    border: 1px black;
    background: rgb(206, 115, 3);
    padding: 10px 50px;
    border: none;
    outline: none;
    color: black; 
    font-size: 16px; 
    font-weight: 600px;
    letter-spacing: 1px;
    cursor: pointer; 
}
form button:hover{
    color: lime;
    background-color: grey;
    transition: 0.8s;
}
.sidebar{
    position: fixed;
    width: 250px;
    height: 100%;
    left: 0px;
    background: black;
    transition: left 0.4s ease;
}
.sidebar.show{
   left: 0px; 
}
.sidebar .text{
    color:  black;
    font-size: 25px;
    font-weight: 600px;
    line-height: 65px;
    text-align: center;
    background: gray;
    letter-spacing: 1px;
}
nav ul{
    background:  rgb(206, 115, 3);
    width: 100%;
    list-style: none;
}
nav ul li{
    line-height: 60px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
nav ul li:last-child{
    border-bottom: 1px solid rgba(255,255,255,0.05);
}
nav ul li a{
    position: relative;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding-left: 40px;
    font-weight: 40px;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
}
nav ul li a:hover{
    color: white;
    background-color:  grey;
    transition: 0.8s;
}
nav ul li.active a{
    color:  rgb(206, 115, 3);
    background: darkgray;
    border-left-color:  rgb(134, 68, 13);
    border-left-width: 5px;
    transition: 0.8s;
}

nav ul ul{
    position: static;
    display: none;
}
nav ul .feat-show.show{
    display: block;
}


nav ul .com-show.show{
    display: block;
}


nav ul .serv-show.show1{
    display: block;
}
nav ul ul li{
    line-height: 42px;
    border-bottom: none;
}
nav ul ul li a{
    font-size: 17px;
    color: white;
    padding-left: 80px;
}
nav ul li.active ul li a{
    color: white;
    background:  grey;
    border-left-color: transparent;
}

nav ul li.active ul li a:hover{
    color:black;
    background-color: rgb(134, 68, 13);
}

nav ul ul li a:hover{
    color: rgb(206, 115, 3);
    background: darkgray;

}
nav ul li a span{
position: absolute;
top: 50%;
right: 20px;
transform: translateY(-50%);
font-size: 22px;
transition: transform 0.4s;
}
nav ul li a span.rotate{
transform: translateY(-50%) rotate(-180deg);
}
.tagline{
    position: absolute;
    width: 1200px;
    margin-left: 0; 
    margin-top: 0;
}
h1{
    color: darkgrey;
    font-size: 50px;
    font-family: garamond;
    text-align: center;
    margin-top: 275px;
    

}
h2{
    color: black;
    font-size: 90px;  
    font-family: garamond;
    text-align: center;
    text-shadow: 0 0 50px   white;
    margin-bottom: -170px;
    padding-top: 35px;
    margin-left: 5%;   
    
}
.pic{
    width: 150px;
    height: 150px;
    background-image: url(img/Neonmoon.png);
    background-size: 200%;
    margin-top: 75px;
    object-position: left top;

}
.container1{
    text-align: right;
    margin-top: -100px;
   
}
.btn1{
    border: 1px solid black;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: garamond;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
}
.btn12{
    color: black;
    background-color:  rgb(206, 115, 3);
}
.btn12:hover{
    color: rgb(103, 238, 19);
    background-color: gray;
}
.pic2
{
    size: 100%;
    width: 200%; 
}


.picb{
    size: 100%;
    width: 200%;    
}

div.content1{
    margin-left: 82%;
    border:2px solid black;
    color:black;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;   
    background-color: darkgrey;
    height:110px;
    width: 220px;
    margin-top: -13px;
    padding-top:12px;
    border-radius: 30px;
}

div.content2{
    margin-left: 82%;
    border:2px solid black;
    color:black;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;   
    background-color: rgb(206, 115, 3);
    height:110px;
    width: 220px;
    margin-top: 10vh; 
    padding-top:17px;
    border-radius: 30px;
}


 div.content3{
    margin-left: 82%;
    border:2px solid black;
    color:black;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;   
    background-color: rgb(134, 68, 13);;
    height:110px;
    width: 220px;
    margin-top: 10vh; 
    padding-top:17px;
    border-radius: 30px;
}

div.content4{
    margin-left: 20%;
    border:2px solid black;
    color:black;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;   
    background-color:grey;
    height:100px;
    width: 1175px;
    border-radius: 30px;
    margin-top:15vh;
    padding-top: 2vh;
     
} 

