/* **************
Created using a tutorial from Redstapler
GLTF 3D Model from Shaw Pen https://codepen.io/shshaw/pen/yPPOEg
************** */
*{
    margin:0;
    padding: 0;
}
body{
    font-family: impact;
	width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}
.banner-text{
    width: 100%;
    position: absolute;
}
.banner-text h2{
    text-align: center;
    color: white;
    font-size: 50px;
    margin-top: 7%;
}
.animation-area{
    background: #1B2735;
    width: 100%;
    height: 100vh;
}
.box-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.box-area li {
	position: absolute;
	display: block;
	list-style: none;
	width: 5px;
	height: 5px;
	background: rgba(255, 255, 255, 1);
	animation: animate 20s linear infinite;
	bottom: -50px;
}
.box-area li:nth-child(1) {
	left: 86%;
	width: 5px;
	height: 5px;
	animation-delay: 0s;
}
.box-area li:nth-child(2) {
	left: 12%;
	width: 5px;
	height: 5px;
	animation-delay: 1.5s;
	animation-duration: 10s;
}
.box-area li:nth-child(3) {
	left: 70%;
	width: 5px;
	height: 5px;
	animation-delay: 5.5s;
}
.box-area li:nth-child(4) {
	left: 42%;
	width: 5px;
	height: 5px;
	animation-delay: 0s;
	animation-duration: 15s;
}
.box-area li:nth-child(5) {
	left: 65%;
	width: 5px;
	height: 5px;
	animation-delay: 0s;
}
.box-area li:nth-child(6) {
	left: 15%;
	width: 5px;
	height: 5px;
	animation-delay: 3.5s;
}

.box-area li:nth-child(7)
{
	left: 92%;
	width: 5px;
	height: 5px;
	animation-delay: 4.0s;
}

@keyframes animate {
	0% {
		transform: translateY(0); /*rotate(0deg);*/
		opacity: 1;
	}
	100% {
		transform: translateY(-800px); /*rotate(360deg);*/
		opacity: 0;
	}
}